<!DOCTYPE html>
<html>

<head>
  <title>Attendance Report</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.3/minty/bootstrap.min.css" />
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.6/jspdf.plugin.autotable.min.js"></script>
  <script src="https://rawcdn.githack.com/FuriosoJack/TableHTMLExport/v2.0.0/src/tableHTMLExport.js"></script>

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand href = '#">FaceMark</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{%url 'camera' %}">Create Datasets</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" href="{%url 'attendance_list' %}">View Attendance</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{%url 'recognition' %}">Recognize Face</a>
        </li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link" href="{%url 'logout' %}">Logout</a>
        </li>
      </ul>


    </div>
  </nav>


  <div class="row justify-content-md-center">
    <div class="col-md-3">
      <label for="report_month" class="form-label">View Report of Month:</label>
      <input id="report_month" class="form-control input" type="month" name="report_month" min="2020-01" max="2022-12">
    </div>

    <div class="col-md-3">
      <label for="user_type" class="form-label">Select User Type:</label>
      <select type="text" name="user_type" id="user_type" class="form-control input" required>
        <option value="Student">Student</option>
        <option value="Teacher">Teacher</option>
        <option value="All" selected="selected">All</option>
      </select>
    </div>

    <div class="center">
      <input type="button" id="btn_filter" value="Apply" class="btn btn-primary">
      <input type="button" id="btn_clear_filter" value="View All" class="btn btn-primary">
    </div>
  </div>
  <p style="text-align:center; margin-top: 5em; margin-right: 15em;  margin-left: 15em;" id="showData"></p>

  <div style="text-align:center" class="lead">
    <p> Download File as: </p>
    <button id="json" class="btn btn-primary">JSON</button>
    <button id="csv" class="btn btn-info">CSV</button>
    <button id="pdf" class="btn btn-danger">PDF</button>
    <button id="txt" class="btn btn-success">TXT</button>
  </div>


</body>

<script>
  let filter_month = ""
  let filter_user_type = "All"
  $("#json").on("click", function () {
    $("#table_id").tableHTMLExport({
      type: "json",
      filename: "sample.json",
    });
  });
  $("#csv").on("click", function () {
    $("#table_id").tableHTMLExport({ type: "csv", filename: "sample.csv" });
  });
  // $("#pdf").on("click", function () {
  //   //alert("clicked");
  //   //window.print();
  //   $("#showData").tableHTMLExport({ type: "pdf", filename: "sample.pdf",ignoreColumns:'.acciones,#primero',ignoreRows: '#ultimo' });

  // });
  $("#pdf").on("click", function () {
    var mywindow = window.open('', 'PRINT');

    mywindow.document.write('<html><head><title>' + document.title + '</title>');
    mywindow.document.write('</head><body >');
    mywindow.document.write('<h1>' + document.title + '</h1>');
    mywindow.document.write(document.getElementById("showData").innerHTML);
    mywindow.document.write('</body></html>');

    mywindow.document.close(); // necessary for IE >= 10
    mywindow.focus(); // necessary for IE >= 10*/

    mywindow.print();
    mywindow.close();

    return true;
  });
  $("#txt").on("click", function () {
    $("#table_id").tableHTMLExport({ type: "txt", filename: "sample.txt" });
  });
  $("#btn_filter").on("click", function () {
    filter_user_type = document.getElementById("user_type").value
    filter_month = document.getElementById("report_month").value
    // alert(filter_user_type)
    CreateTableFromJSON()
  });
  $("#btn_clear_filter").on("click", function () {
    // alert("clicked")
    document.getElementById("report_month").value = "";
    filter_month = ""
    document.getElementById("user_type").value = "All"
    CreateTableFromJSON()
  });
</script>

<script>
  window.onload = function test() {
    if (filter_month == "") {
      filter_month = "2022-04"
      document.getElementById('report_month').value = filter_month
    }
    CreateTableFromJSON()
  }
</script>
<script type="text/javascript">
  function CreateTableFromJSON() {


    var data = JSON.parse("{{data|escapejs}}");
    if (filter_month !== "") {
      var filtered_data = []
      for (var i = 0; i < data.length; i++) {
        if (data[i] !== null) {
          let row_date = new Date(data[i].timestamp)
          let filter_date = new Date(filter_month)
          if (row_date.getFullYear() == filter_date.getFullYear() && row_date.getMonth() == filter_date.getMonth() + 1) {
            if (filter_user_type === "All" || filter_user_type.toLowerCase() == data[i].type.toLowerCase()) {
              var json_obj = { ...data[i] }
              filtered_data.push(json_obj)
            }

          }
        }

      }
      data = filtered_data
    }

    // EXTRACT VALUE FOR HTML HEADER. 

    var col = [];
    for (var i = 0; i < data.length; i++) {
      if (data[i] == null) continue
      for (var key in data[i]) {
        if (col.indexOf(key) === -1) {
          col.push(key);
        }
      }
    }

    // CREATE DYNAMIC TABLE.
    var table = document.createElement("table");
    table.setAttribute("id", "table_id");
    table.setAttribute("class", "table table-bordered");
    // CREATE HTML TABLE HEADER ROW USING THE EXTRACTED HEADERS ABOVE.

    var tr = table.insertRow(-1);                   // TABLE ROW.

    for (var i = 0; i < col.length; i++) {
      var th = document.createElement("th");      // TABLE HEADER.
      th.setAttribute("class", "thead-dark");
      th.innerHTML = col[i].toUpperCase();
      tr.appendChild(th);
    }

    // ADD JSON DATA TO THE TABLE AS ROWS.
    for (var i = 0; i < data.length; i++) {
      if (data[i] == null) continue
      tr = table.insertRow(-1);

      for (var j = 0; j < col.length; j++) {
        // alert(data[i][col[j]])
        var tabCell = tr.insertCell(-1);
        tabCell.innerHTML = data[i][col[j]];
      }
    }

    // FINALLY ADD THE NEWLY CREATED TABLE WITH JSON DATA TO A CONTAINER.
    var divContainer = document.getElementById("showData");
    divContainer.innerHTML = "";
    divContainer.appendChild(table);
  }
</script>

</html>