<!DOCTYPE html>
<html>

<head>
  <title>Attendance Report</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.3/minty/bootstrap.min.css" />
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.6/jspdf.plugin.autotable.min.js"></script>
  <script src="https://rawcdn.githack.com/FuriosoJack/TableHTMLExport/v2.0.0/src/tableHTMLExport.js"></script>


</head>

<body>

  <!-- <input type="button" onclick="CreateTableFromJSON()"  value="Create Table From JSON" /> -->
  <form method="post" style="text-align:center">
    {% csrf_token %}
    <label for="month">View Report of Month:</label>
    <input id="month" type="month" name="report_month" min="2020-01" max="2022-12">
    <input type="submit" value="Submit">
  </form>

  <p style="text-align:center; margin-top: 5em; margin-right: 15em;  margin-left: 15em;" id="showData"></p>

  <div style="text-align:center" class="lead">
    <p> Download File as: </p>
    <button id="json" class="btn btn-primary">JSON</button>
    <button id="csv" class="btn btn-info">CSV</button>
    <button id="pdf" class="btn btn-danger">PDF</button>
    <button id="txt" class="btn btn-success">TXT</button>
  </div>


</body>

<script>
  $("#json").on("click", function () {
    $("#table_id").tableHTMLExport({
      type: "json",
      filename: "sample.json",
    });
  });
  $("#csv").on("click", function () {
    $("#table_id").tableHTMLExport({ type: "csv", filename: "sample.csv" });
  });
  // $("#pdf").on("click", function () {
  //   //alert("clicked");
  //   //window.print();
  //   $("#showData").tableHTMLExport({ type: "pdf", filename: "sample.pdf",ignoreColumns:'.acciones,#primero',ignoreRows: '#ultimo' });

  // });
  $("#pdf").on("click", function () {
    var mywindow = window.open('', 'PRINT');

    mywindow.document.write('<html><head><title>' + document.title + '</title>');
    mywindow.document.write('</head><body >');
    mywindow.document.write('<h1>' + document.title + '</h1>');
    mywindow.document.write(document.getElementById("showData").innerHTML);
    mywindow.document.write('</body></html>');

    mywindow.document.close(); // necessary for IE >= 10
    mywindow.focus(); // necessary for IE >= 10*/

    mywindow.print();
    mywindow.close();

    return true;
  });
  $("#txt").on("click", function () {
    $("#table_id").tableHTMLExport({ type: "txt", filename: "sample.txt" });
  });
</script>

<script>
  window.onload = function test() {

    CreateTableFromJSON()
  }
</script>
<script type="text/javascript">
  function CreateTableFromJSON() {

    var data = JSON.parse("{{data|escapejs}}");

    //alert("Hi..!"+data);
    //var data = [{'id': 1, 'name': 'Somerset', 'timestamp': '12/22/2021', 'type': 'student'}, {'id': 2, 'name': 'Alyce', 'timestamp': '06/15/2021', 'type': 'student'}, {'id': 3, 'name': 'Cairistiona', 'timestamp': '11/22/2021', 'type': 'student'}, {'id': 4, 'name': 'Howard', 'timestamp': '05/28/2021', 'type': 'teacher'}, {'id': 5, 'name': 'Toni', 'timestamp': '06/01/2021', 'type': 'student'}, {'id': 6, 'name': 'Onofredo', 'timestamp': '09/30/2021', 'type': 'student'}, {'id': 7, 'name': 'Adda', 'timestamp': '09/29/2021', 'type': 'teacher'}, {'id': 8, 'name': 'Chelsae', 'timestamp': '05/30/2021', 'type': 'student'}, {'id': 9, 'name': 'Melody', 'timestamp': '10/28/2021', 'type': 'student'}, {'id': 10, 'name': 'Ailene', 'timestamp': '10/06/2021', 'type': 'teacher'}]

    // EXTRACT VALUE FOR HTML HEADER. 

    var col = [];
    for (var i = 0; i < data.length; i++) {
      for (var key in data[i]) {
        //alert(i,data[i],key);
        if (col.indexOf(key) === -1) {
          col.push(key);
        }
      }
    }

    // CREATE DYNAMIC TABLE.
    var table = document.createElement("table");
    table.setAttribute("id", "table_id");
    table.setAttribute("class", "table table-bordered");
    // CREATE HTML TABLE HEADER ROW USING THE EXTRACTED HEADERS ABOVE.

    var tr = table.insertRow(-1);                   // TABLE ROW.

    for (var i = 0; i < col.length; i++) {
      var th = document.createElement("th");      // TABLE HEADER.
      th.setAttribute("class", "thead-dark");
      th.innerHTML = col[i].toUpperCase();
      tr.appendChild(th);
    }

    // ADD JSON DATA TO THE TABLE AS ROWS.
    for (var i = 0; i < data.length; i++) {

      tr = table.insertRow(-1);

      for (var j = 0; j < col.length; j++) {
        var tabCell = tr.insertCell(-1);
        tabCell.innerHTML = data[i][col[j]];
      }
    }

    // FINALLY ADD THE NEWLY CREATED TABLE WITH JSON DATA TO A CONTAINER.
    var divContainer = document.getElementById("showData");
    divContainer.innerHTML = "";
    divContainer.appendChild(table);
  }
</script>

</html>