<!DOCTYPE html>
<html>
<head>
    <title>Attendance Report</title>
    
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.3/minty/bootstrap.min.css"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand href = '#" >FaceMark</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'camera' %}">Datasets</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{%url 'attendance_list' %}">View Attendance</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{%url 'add_record' %}">Add Manually</a>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'logout' %}">Logout</a>
                </li>
            </ul>


        </div>
    </nav>

    <form action = "" method = "POST" style="margin-top: 5em; margin-right: 15em;  margin-left: 15em;">
      {% csrf_token %}
      <div class="form-group">
        <label for="your_name">Your name: </label>
        <input id="your_name" type="text" class="form-control" name="your_name">
      </div>
      
      <div class="form-group">
        <label for="type">Type: </label>
        <input id="type" type="text" class="form-control" name="type">
      </div>

      <div class="form-group">
        <label for="timestamp">Time Stamp: </label>
        <input id="timestamp" type="text" class="form-control" name="timestamp">
      </div>
      
      <input class="btn btn-primary" type="submit" value="OK">
    </form>

</body>

<script>
  function addRecord() {
    
  
  }
</script>

</html>